doctype html
html
  head
    title Thrift Books
    style
      include ../static/styleeachbook.css
  body
    //- header
    div.container
        div.navbar
            div#logo
                img(src="/static/img/logo.jpg", alt="")
                a(href="/") Thrift Books

            nav#navbar
                ul  
                    li #[a(href="/books") Books] 
                    li #[a(href="/myStore") My Store]
                    li #[a(href="/myCart") My Cart]
                    li #[a(href="/wishlist") Wishlist]
                
                div#search
                    form(id="searchbar" action="/booksearched" method="GET")
                            input(type="text" id="booksrchd" placeholder="Search Book" value="" name="booksearched")
                            Button(type="submit") &#128269;
            

    div#eachbookpg 
        div#container-1
            div#row 
                div#img-col 
                    img(src=`${bookinfo.bimg}`, alt="")
                
                div#info-col 
                    div#info-bg
                        div#info-btn
                            p ✾ Book : #{bookinfo.book}
                            br
                            p ✾ Author : #{bookinfo.author}
                            br
                            p ✾ Condition : #{bookinfo.condition}
                            br
                            p ✾ Price : Rs. #{bookinfo.price}
                            br
                            br
                            //- a(href='/') Add to Cart
                            div#buttonOnEachBookPage
                                a(id=`${bookinfo.id}` href="#" onclick='chatFunction(id)') Bargain & Buy Now!
                                br
                                a(id=`${bookinfo.id}` href="#" onclick='addToCartFunction(id)') Add to Cart
                                br
                                a(id=`${bookinfo.id}` href="#" onclick='addToWishlistFunction(id)') ♡ Wishlist ♡
       
        h2#simbks ⋆˚⟡˖ Similar Books ⋆˚⟡˖
        div#container-2
            div.row-rec
                    each book in books
                        div.col-rec
                            a(id=book.id onclick='myJavaScriptFunction(id);')
                                img(src=`${book.bimg}`)
                                p #{book.book}
                                p Rs. #{book.price}

    footer#footer
        div#container-f
            div#row1-f 
                div#col1-f 
                    h2 About Us 
                    p Want to read more and more books but find it expensive? Well, we're here for your rescue! Thrift Books and feed the bookworm in you. You can also sell your used books here and help other readers like you. Thrifting books is good for you and the environment and that's all we want. Happy Books to you.

                div#col2-f 
                    h3 Follow Us 
                    h4 Instagram 
                    h4 Twitter
                    h4 Facebook 
                
                div#col3-f 
                    h3 Contact Us 
                    h4 Thrift-Books.com 
                    h4 #1218,
                    h4 Sector-15, Chandigarh,
                    h4 Punjab -131001
                    h4 P:+91-9050111218
                    h4 E-mail:contact@gmail.com

            div#row2-f 
                div#cprt
                    |   Copyright Ⓒ 2024 Thrift-Books.com | All rights reserved
    
    script. 

        function myJavaScriptFunction(bookid){
            console.log(bookid);
            var booklink = document.getElementById(bookid);
            booklink.href = "/eachbook?id="+ bookid;
            console.log(booklink.href);
        }   

        function addToCartFunction(bookid)
        {
            console.log(bookid);
            
            // Create a form element
            var form = document.createElement('form');
            form.setAttribute('id', 'addToCartForm');
            form.setAttribute('action', '/eachbook');
            form.setAttribute('method', 'POST');

            // Create the first input element for BookId
            var inputBookId = document.createElement('input');
            inputBookId.setAttribute('type', 'text');
            inputBookId.setAttribute('placeholder', 'BookId');
            inputBookId.setAttribute('value', bookid);
            inputBookId.setAttribute('name', 'BookId');

            // Append the first input to the form
            form.appendChild(inputBookId);

            // Create the second input element for Action
            var inputAction = document.createElement('input');
            inputAction.setAttribute('type', 'text');
            inputAction.setAttribute('placeholder', 'Action');
            inputAction.setAttribute('value', 'addtocart')
            inputAction.setAttribute('name', 'Action');

            // Append the second input to the form
            form.appendChild(inputAction);

            // Append the form to the body (or any other appropriate element)
            document.body.appendChild(form);

            // Submit the form
            document.getElementById('addToCartForm').submit();
        } 

        function addToWishlistFunction(bookid)
        {
            console.log(bookid);
            // Create a form element
            var form = document.createElement('form');
            form.setAttribute('id', 'addToWishlistForm');
            form.setAttribute('action', '/eachbook');
            form.setAttribute('method', 'POST');

            // Create the first input element for BookId
            var inputBookId = document.createElement('input');
            inputBookId.setAttribute('type', 'text');
            inputBookId.setAttribute('placeholder', 'BookId');
            inputBookId.setAttribute('value', bookid);
            inputBookId.setAttribute('name', 'BookId');

            // Append the first input to the form
            form.appendChild(inputBookId);

            // Create the second input element for Action
            var inputAction = document.createElement('input');
            inputAction.setAttribute('type', 'text');
            inputAction.setAttribute('placeholder', 'Action');
            inputAction.setAttribute('value', 'wishlist')
            inputAction.setAttribute('name', 'Action');

            // Append the second input to the form
            form.appendChild(inputAction);

            // Append the form to the body (or any other appropriate element)
            document.body.appendChild(form);

            // Submit the form
            document.getElementById('addToWishlistForm').submit();
        }     

        function chatFunction(bookid)
        {
            console.log(bookid);
            
            // Create a form element
            var form = document.createElement('form');
            form.setAttribute('id', 'chatForm');
            form.setAttribute('action', '/eachbook');
            form.setAttribute('method', 'POST');

            // Create the first input element for BookId
            var inputBookId = document.createElement('input');
            inputBookId.setAttribute('type', 'text');
            inputBookId.setAttribute('placeholder', 'BookId');
            inputBookId.setAttribute('value', bookid);
            inputBookId.setAttribute('name', 'BookId');

            // Append the first input to the form
            form.appendChild(inputBookId);

            // Create the second input element for Action
            var inputAction = document.createElement('input');
            inputAction.setAttribute('type', 'text');
            inputAction.setAttribute('placeholder', 'Action');
            inputAction.setAttribute('value', 'bargainchat')
            inputAction.setAttribute('name', 'Action');

            // Append the second input to the form
            form.appendChild(inputAction);

            // Append the form to the body (or any other appropriate element)
            document.body.appendChild(form);

            // Submit the form
            document.getElementById('chatForm').submit();
        } 
                             

