//- books.pug
doctype html
html
  head
    title Thrift Books
    style
      include ../static/stylebooks.css
  body
    //- header
    div.container
        div.navbar
            div#logo
                img(src="/static/img/logo.jpg", alt="")
                a(href="/") Thrift Books

            nav#navbar
                ul  
                    li #[a(href="/books") Books] 
                    li #[a(href="/myStore") My Store]
           

        div#search
            form(id="searchbar" action="/booksearched" method="GET")
                input(type="text" id="booksrchd" placeholder="Search Book" value="" name="booksearched")
                //- input(type="button" value="Submit" onclick="mysearch();")
                Button(type="submit") &#128269;
                    

    section#recentlyAdded
        div.recentlyAddedAlign
            //- h2 BEST deals on BOOKS!

            //- select#SortBy(name="Sort By")
            //-     option(value="Price")  
            //-     option(value="Rating") 

            //- select
            //-     each variable in variables
            //-         option(value=variable.id) #{variable.var_name}


            //- - allbooks.foreach(book => {
            //-     p= `${book.book}`
            //-     p= `${book.price}`
            //- }) 
            div.row-rec
                each book in allbooks
                    div.col-rec
                        a(id=book.id onclick='myJavaScriptFunction(id);')
                            img(src=`${book.bimg}`)
                            p #{book.book}
                            p Rs. #{book.price}

            //- const allBooks = allbooks;

            //- div.row-rec
            //-    div.col-rec
            //-         a(href="/")
            //-             img(src="/static/img/book1.jpg")
            //-             h4 The God Of Small Things
            //-             p Rs 100.00
            //-     div.col-rec
            //-         a(href="/")
            //-             img(src="/static/img/book2.jpg")
            //-             h4 Atomic Habits
            //-             p Rs 200.00
            //-     div.col-rec
            //-         a(href="/")
            //-             img(src="/static/img/book3.jpg")
            //-             h4 Harry Potter And The Prisoner Of Azkaban
            //-             p Rs 175.00
            //-     div.col-rec
            //-         a(href="/")
            //-             img(src="/static/img/book4.jpg")
            //-             h4 The Monk Who Sold His Ferrari
            //-             p Rs 120.00
            //-     div.col-rec
            //-         a(href="/")
            //-             img(src="/static/img/book5.jpg")
            //-             h4 Amritasya Narmada
            //-             p Rs 99.00
            //-     div.col-rec
            //-         a(href="/")
            //-             img(src="/static/img/book6.jpg")
            //-             h4 Mathematics RD Sharma Class 11
            //-             p Rs 300.00  
            //-     div.col-rec
            //-         a(href="/")
            //-             img(src="/static/img/book1.jpg")
            //-             h4 The God Of Small Things
            //-             p Rs 100.00
            //-     div.col-rec
            //-         a(href="/")
            //-             img(src="/static/img/book2.jpg")
            //-             h4 Atomic Habits
            //-             p Rs 200.00
            //-     div.col-rec
            //-         a(href="/")
            //-             img(src="/static/img/book3.jpg")
            //-             h4 Harry Potter And The Prisoner Of Azkaban
            //-             p Rs 175.00
            //-     div.col-rec
            //-         a(href="/")
            //-             img(src="/static/img/book4.jpg")
            //-             h4 The Monk Who Sold His Ferrari
            //-             p Rs 120.00
            //-     div.col-rec
            //-         a(href="/")
            //-             img(src="/static/img/book5.jpg")
            //-             h4 Amritasya Narmada
            //-             p Rs 99.00
            //-     div.col-rec
            //-         a(href="/")
            //-             img(src="/static/img/book6.jpg")
            //-             h4 Mathematics RD Sharma Class 11
            //-             p Rs 300.00

            //-     div.col-rec
            //-         a(href="/")
            //-             img(src="/static/img/book1.jpg")
            //-             h4 The God Of Small Things
            //-             p Rs 100.00
            //-     div.col-rec
            //-         a(href="/")
            //-             img(src="/static/img/book2.jpg")
            //-             h4 Atomic Habits
            //-             p Rs 200.00
            //-     div.col-rec
            //-         a(href="/")
            //-             img(src="/static/img/book3.jpg")
            //-             h4 Harry Potter And The Prisoner Of Azkaban
            //-             p Rs 175.00
            //-     div.col-rec
            //-         a(href="/")
            //-             img(src="/static/img/book4.jpg")
            //-             h4 The Monk Who Sold His Ferrari
            //-             p Rs 120.00
            //-     div.col-rec
            //-         a(href="/")
            //-             img(src="/static/img/book5.jpg")
            //-             h4 Amritasya Narmada
            //-             p Rs 99.00
            //-     div.col-rec
            //-         a(href="/")
            //-             img(src="/static/img/book6.jpg")
            //-             h4 Mathematics RD Sharma Class 11
            //-             p Rs 300.00
            //-     div.col-rec
            //-         a(href="/")
            //-             img(src="/static/img/book1.jpg")
            //-             h4 The God Of Small Things
            //-             p Rs 100.00
            //-     div.col-rec
            //-         a(href="/")
            //-             img(src="/static/img/book2.jpg")
            //-             h4 Atomic Habits
            //-             p Rs 200.00
            //-     div.col-rec
            //-         a(href="/")
            //-             img(src="/static/img/book3.jpg")
            //-             h4 Harry Potter And The Prisoner Of Azkaban
            //-             p Rs 175.00
            //-     div.col-rec
            //-         a(href="/")
            //-             img(src="/static/img/book4.jpg")
            //-             h4 The Monk Who Sold His Ferrari
            //-             p Rs 120.00
            //-     div.col-rec
            //-         a(href="/")
            //-             img(src="/static/img/book5.jpg")
            //-             h4 Amritasya Narmada
            //-             p Rs 99.00
            //-     div.col-rec
            //-         a(href="/")
            //-             img(src="/static/img/book6.jpg")
            //-             h4 Mathematics RD Sharma Class 11
            //-             p Rs 300.00
            //-     div.col-rec
            //-         a(href="/")
            //-             img(src="/static/img/book1.jpg")
            //-             h4 The God Of Small Things
            //-             p Rs 100.00
            //-     div.col-rec
            //-         a(href="/")
            //-             img(src="/static/img/book2.jpg")
            //-             h4 Atomic Habits
            //-             p Rs 200.00
            //-     div.col-rec
            //-         a(href="/")
            //-             img(src="/static/img/book3.jpg")
            //-             h4 Harry Potter And The Prisoner Of Azkaban
            //-             p Rs 175.00
            //-     div.col-rec
            //-         a(href="/")
            //-             img(src="/static/img/book4.jpg")
            //-             h4 The Monk Who Sold His Ferrari
            //-             p Rs 120.00
            //-     div.col-rec
            //-         a(href="/")
            //-             img(src="/static/img/book5.jpg")
            //-             h4 Amritasya Narmada
            //-             p Rs 99.00
            //-     div.col-rec
            //-         a(href="/")
            //-             img(src="/static/img/book6.jpg")
            //-             h4 Mathematics RD Sharma Class 11
            //-             p Rs 300.00
                
    footer#footer
        div#container-f
            div#row1-f 
                div#col1-f 
                    h2 About Us 
                    p Want to read more and more books but find it expensive? Well, we're here for your rescue! Thrift Books and feed the bookworm in you. You can also sell your used books here and help other readers like you. Thrifting books is good for you and the environment and that's all we want. Happy Books to you.

                div#col2-f 
                    h3 Follow Us 
                    h4 Instagram 
                    h4 Twitter
                    h4 Facebook 
                
                div#col3-f 
                    h3 Contact Us 
                    h4 Thrift-Books.com 
                    h4 #1218,
                    h4 Sector-15, Chandigarh,
                    h4 Punjab -131001
                    h4 P:+91-9050111218
                    h4 E-mail:contact@gmail.com

            div#row2-f 
                div#cprt
                    |   Copyright Ⓒ 2022 Thrift-Books.com | All rights reserved
    
    script. 

        function myJavaScriptFunction(bookid){
            console.log(bookid);
            var booklink = document.getElementById(bookid);
            booklink.href = "/eachbook?id="+ bookid;
            console.log(booklink.href);
        }

        
      


